.AddWorkout {
    margin: 20px;
    margin-top: 90px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
.backlink {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 212px;
}

.backlink a { /* needs 'a' here? */
    /* margin: 20px; */
    color: rgb(76, 78, 228); 
}

.TableHeader {
    margin: 20px;
    margin-bottom: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.TableHeader :first-child {
    width: 120px;
}
.TableHeader > * {
    width: 40px;
}