.AddWorkout{
    margin: 20px;
    margin-top: 120px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.input {
    margin: 5px auto; /* centered */
    padding: 10px;
    display: block;
    width: 200px;
  }