.Exercise {
    /* margin: 20px; */
    width: 200px;
    border: 1px solid black;
    display: flex; 
    align-items: center;
    flex-direction: row;
}
.ExerciseName {
    margin: 5px;
    width: 140px;
    flex: 1 1 auto;
    border-right: 1px solid black;
}
.ExerciseSets {
    margin: 5px;
    width: 30px;
    flex: 1 1 auto;
    border-right: 1px solid black;
}
.ExerciseReps {
    margin: 5px;
    width: 30px;
    flex: 1 1 auto;
}