@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

:root { 
  --main-accent-color: rgb(76, 78, 228); 
  --main-accent-hover: rgb(0, 0, 168); 
  --light-accent-hover: #4144ce; 
  --main-border-color: #c0c0c0; 
  --main-border-hover: #a8a8a8; 
  --main-shadow-color: #d4d4d4; 
}

main {
  margin-top: 100px; 
  margin-bottom: 50px; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
} 

body {
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Post-box { 
  margin: 25px; 
  border-style: solid; 
  border-color: var(--main-border-color); 
  border-radius: 5px; 
  padding: 20px; 
  width: 300px; 
  transition: .25s; 
}

.Post-box:hover { 
  border-color: var(--main-border-hover);
  transition: .25s; 
  box-shadow: 1px 1px 1px 1px var(--main-shadow-color);
}

.User-link {
  text-decoration: none;
  color: var(--main-accent-color); 
}

.User-link:hover { 
  color: var(--main-accent-hover); 
}

form { 
  display: flex; 
  flex-direction: column; 
}

form label { 
  font-size: 12pt; 
  font-weight: 600; 
  padding: 0px; 
  margin: 7px; 
  margin-top: 12px; 
  margin-left: -1px; 
}

form input { 
  margin: 0; 
  border-radius: 5px; 
  border-style: solid; 
  border-width: 1px;
  border-color: #b8b8b8; 
  padding: 5px; 
  font-size: 12pt; 
}

.submit-button { 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.submit-button button {
  border-style: solid; 
  border-color: var(--main-accent-color); 
  border-radius: 5px; 
  border-width: 2px; 
  background-color: var(--main-accent-color);
  color: white; 
  margin: 20px;  
  margin-bottom:5px; 
  font-weight: 600; 
  font-size: 12pt; 
  padding: 15px; 
  box-shadow: 1px 1px 1px 1px var(--main-shadow-color);
}

.submit-button button:hover { 
  background-color: white;
  color: var(--main-accent-color); 
}

textarea { 
  border-radius:5px; 
  padding: 5px; 
  height:150px; 
  width: 290px; 
  font-size: 10pt; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
}

.blue-button { 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.blue-button a { 
  border-style: solid; 
  padding: 20px; 
  font-size:16pt; 
  margin: 20px; 
  border-radius: 10px; 
  font-weight: 600;
  transition: .25;  
  box-shadow: 1px 1px 1px 1px var(--main-shadow-color);
  color:var(--main-accent-color); 
}

.blue-button a:hover { 
  background-color: var(--main-accent-color); 
  color: white; 
  transition: .25s; 
  border-color: var(--main-accent-color); 
}