.NewPost { 
    align-items: center;
    margin-bottom: 100px;
}

#NewPost-info { 
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#NewPost-info a { 
  border-style: solid; 
  border-radius: 5px; 
  border-color: var(--main-border-color); 
  width: 300px; 
  height: 200px;  
  font-weight: 600; 
  font-size: 14pt; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

#newpost-description { 
   margin-top: 10px; 
   border-style:none; 
   height: 100px;  
}

#post-button { 
  margin-top: -30px; 
  align-items: right; 
  justify-content: right;
}

#post-button a { 
  margin-left: 290px; 
  padding: 15px; 
  font-size: 12pt; 
}