.UserProfile { 
    display: flex; 
    align-items: center;
    flex-direction: column;
} 

.UserProfile-info { 
    text-align: center; 
    margin-top: 125px;
    margin-bottom: 125px;
    width: 300px; 
    padding: 20px; 
    border-style: solid; 
    border-color: #b8b7b7; 
    box-shadow: 1px 1px 1px 1px #b8b7b7;
}

.UserProfile-pic { 
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}