.WorkoutHistory { 
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.WorkoutHistory-info { 
    width: 300px; 
    margin-top: 125px; 
    margin-bottom: 125px; 
    padding: 20px; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    border-style: solid; 
    border-color: #b8b7b7; 
    box-shadow: 1px 1px 1px 1px #b8b7b7;
}

.Workout-posts { 
    padding-top: 100px; 
    padding-bottom: 100px; 
}
